<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expand Your Business Capabilities</h4>
                    <p class="text-muted">Enhancing business operational scope and efficiency with bespoke software solutions designed to meet unique needs. Whether looking to automate processes, increase productivity, or expand service offerings, the right software can transform the business landscape. Focusing on scalable and adaptable solutions ensures that businesses not only keep up with current demands but are also prepared for future growth.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Built with the Latest Technology</h4>
                    <p class="text-muted">Stay ahead of the curve with cutting-edge technology that drives your software solutions. I specialize in harnessing the latest tools and technologies to deliver top-tier applications that ensure robust performance and longevity. From advanced programming frameworks to the newest cloud technologies, your software will be built on a foundation that supports innovation and efficiency.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Communication</h4>
                    <p class="text-muted">
                    Clear and consistent communication is the cornerstone of my approach to software development. I believe that a transparent workflow is essential for delivering a product that truly aligns with your vision. Regular updates and open lines of communication ensure that you are always informed and involved in the development process, allowing for immediate feedback and adjustments to ensure the final product meets your expectations.
                    </p>
                </div>
            </div>
        </div>
    </section>
